
<footer class="footer fixed-bottom bg-light p-3">
    <div class="container text-center">
        &copy; 2023 Berita Terkini
    </div>
</footer>

<!-- Tambahkan referensi Bootstrap JS di sini -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
