<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Berita Terkini</title>
  <meta name="description"
        content="Ini adalah contoh meta description untuk halaman web. Meta description memberikan deskripsi singkat tentang konten halaman web ini." />
  <!-- Tambahkan referensi Bootstrap CSS di sini -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <!-- Inisiasi content web -->
  <%- body %>

<!-- Include TinyMCE script here -->
<script src="/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: 'textarea#content', // ID dari textarea yang ingin Anda konversi menjadi TinyMCE
    plugins: 'link image code',
    toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright | link image | code',
  });
</script>

<!-- Tambahkan referensi Bootstrap JS di sini -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function () {
    $("#create-news-form").submit(function (event) {
      event.preventDefault(); // Menghentikan pengiriman formulir secara default

      // Mengambil data dari formulir
      let title = $("#title").val();
      let cover = $("#cover").val();
      let content = $("#content").val();

      // Mengirim data ke API menggunakan AJAX
      $.ajax({
        url: "/api/v1/news", // Ganti dengan URL API sesuai dengan struktur Anda
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({ title: title, cover: cover, content: content, isPublic: true, author: "Admin" }),
        success: function (response) {
          // Tindakan setelah berhasil
          alert("Berita berhasil ditambah.");
          // Redirect ke halaman lain atau lakukan sesuatu yang sesuai kebutuhan Anda
          window.location.href = "/";
        },
        error: function (error) {
          // Tindakan jika terjadi kesalahan
          console.error("Terjadi kesalahan: " + JSON.stringify(error));
          alert("Gagal menyimpan berita.");
        },
      });
    });
  });

  $("#comment-form").submit(function (event) {
    event.preventDefault();

    const name = $("#name").val();
    const commentText = $("#comment").val();
    const newsId = $("#newsId").val(); // Ambil ID berita dari input tersembunyi

    $.ajax({
      url: "/api/v1/comments",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({ name, comment: commentText, news_id: newsId }), // Sertakan ID berita
      success: function (response) {
        // $("#success-toast").toast("show");
        alert("Komentar berhasil ditambah.");

        window.location.href = "/news/"+ newsId;
      },
      error: function (error) {
        console.error("Terjadi kesalahan: " + JSON.stringify(error));
        alert("Gagal menyimpan komentar.");
      },
    });

    $("#name").val("");
    $("#comment").val("");
  });


  // Menangani klik tombol "Edit"
  $('.edit-btn').click(function () {
      // Dapatkan data yang sesuai dari tabel
      var row = $(this).closest('tr');

      var id = row.find('td:eq(0)').text();
      var nama = row.find('td:eq(1)').text();

      // ambil dari ajax
      $('#editModal #editData').val(nama);
      $('#editModal #idNews').val(id);
  });

</script>
</body>

</html>