<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Berita Terkini</title>
  <meta name="description"
        content="Ini adalah contoh meta description untuk halaman web. Meta description memberikan deskripsi singkat tentang konten halaman web ini." />
  <!-- Tambahkan referensi Bootstrap CSS di sini -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <!-- Inisiasi content web -->
  <%- body %>

<!-- Include TinyMCE script here -->
<script src="/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: 'textarea#content', // ID dari textarea yang ingin Anda konversi menjadi TinyMCE
    plugins: 'link image code',
    toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright | link image | code',
  });
</script>

<!-- Tambahkan referensi Bootstrap JS di sini -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/js/index.js"></script>
</body>

</html>