<!-- Daftar Berita -->
<div class="container mt-4">
    <h2>Berita Terkini</h2>
    <div class="row">
        <% news.forEach(data => { %>
            <!-- This is content news list -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="<%= data.cover %>" class="card-img-top" alt="Gambar Berita 1">
                    <div class="card-body">
                        <h5 class="card-title"><%= data.title %></h5>
                        <p class="card-text"><%= data.content.substring(0, 100) %>...</p>
                        <a href="/news/<%= data.id %>" class="btn btn-primary">Selengkapnya</a>
                    </div>
                </div>
            </div>
       <% });  %>
    </div>
</div>