<!-- Daftar Berita -->
<div class="container mt-5">
    <h2>
        <%= news.title %>
    </h2>
    <div class="row">
        <div class="col-md-12">
            <img src="<%= news.cover %>" width="75%" class="m-1" alt="Gambar Berita">
            <p class="mt-1">
                <%- news.content %>
            </p>
            <a href="/" style="margin-bottom: 100px;" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>